html,
body,
.section-content,
.section {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
.section-content,
.slide-wrap {
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  height: 100%;
  width: auto;
}
.section-content .slide,
.slide-wrap .slide {
  display: inline-block;
  height: 100%;
  float: left;
}
.section {
  font-size: 100px;
  text-align: center;
}
.slide {
  font-size: 100px;
}
